<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">ユーザー登録</h1>
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :名前, class: 'text-white' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :アドレス, class: 'text-white' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :電話番号, class: 'text-white' %>
            <%= f.text_field :phone_number, class: 'form-control' %>
          </div>
          
          
           <div class="form-group">
            <%= f.label :パスワード, class: 'text-white' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード再確認, class: 'text-white' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <%= f.submit "ユーザー登録", class: 'btn-block btn-blue' %>
        <% end %>
        <%= link_to 'ログイン', 'login_path',class: 'text-white' %>
      </div>
    </div>
  </div>
</div>