<!DOCTYPE html>
<html>
  <head>
    <title>Tennis　reservation</title>
    <%= csrf_meta_tags %>
　　
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <!--共通のflashメッセージ-->
    <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      
      <div class="container">
        <%= link_to root_path do %>
          <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to courts_path do %>
                <%= image_tag "icons/courts.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <%= image_tag "icons/log_out.png" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to courts_path do %>
                <%= image_tag "icons/courts.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to sessions_new_path do %>
                <%= image_tag "icons/log_in.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    <!--10秒かけてアラートがフェードアウトする-->
    <script><
     $(function(){
      $(".alert").fadeOut(10000);
      });
    </script>
  </body>
</html>
